.p-cities.saved_pic {
    border: solid 1px;
}

.p-cities .c-searchbox {
    padding: 10px;
}

.p-cities > img {
    padding: 10px;
}

.p-cities .p-cities-img {
    position: relative;
}

.p-cities {
    background-image: linear-gradient(white,rgb(252, 236, 213), rgb(245, 197, 122),white);
    min-height: 100vh;
    /* background-color: antiquewhite; */
    /* height: 100vh;
    background-image: url("../asserts/reka1.jpg"); */
}
.p-cities .p-cities-spinner {
    position: absolute;
    top: 182px;
    right: 235px;
}

.p-cities .p-cities-save-icon {
    position: absolute;
    top: 30px;
    right: 30px;
}

.p-cities .p-cities-save-icon .btn-link.focus, .btn-link:focus, .btn.focus, .btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

.p-cities .pagination {
    justify-content: center;
    padding: 10px;
}